<a href="https://colab.research.google.com/github/Nipu-Mishra/Assignments/blob/main/Mudraksh_Assighnment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Use pandas to read the data from the csvs only if they have
‘closePosition’ in their name. The important columns needed are
: [‘Key’, ’ExitTime’, ’Symbol’, ’EntryPrice’, ’Quantity’, ’Pnl’]. Add
an additional column in the dataframe called ‘Date’, where the
values should be the dates extracted from the ‘ExitTime’ column.
Save the data in a pandas dataframe, and append the data from
each csv into the existing data. The final dataframe should have
entries from all the csvs merged together.
Save this dataframe as a csv file with the name
‘combined_closePosition.csv’.

In [ ]:
# Import the libraries
import pandas as pd
import numpy as np
from glob import glob
import os
import matplotlib.pyplot as plt

In [ ]:
# Load the data
data = pd.read_csv('/content/Stocks_data2.csv')

In [ ]:
# Show the data
data

In [ ]:
# Create a new 'Date' column
data['Date'] = data['ExitTime']

In [ ]:
# Change the position of Date column
titles = ['Date','Key','ExitTime','Symbol','EntryPrice','ExitPrice','Quantity','Pnl','ExitType','SignalType']
data = data[titles]
data

In [ ]:
# Store data into the dataframe
df = pd.DataFrame(data)

In [ ]:
# Save this dataframe as a csv file with the name ‘combined_closePosition.csv’.
df = df.to_csv('combined_closePosition.csv')

2) Using the combined dataframe, calculate the following values.
a) Total trades - The total number of entries in the final
dataframe
b) Unique days - The number of unique dates in the ‘Date’
column
c) Average trades - Total trades / Unique Days
d) Total Pnl - Sum of the Pnl column
e) Profit Trades - Number of entries where Pnl > 0
f) Loss Trades - Number of entries where Pnl <= 0
Save these values in a txt file named ‘combined_stats.txt’, with
the respective names given above.

In [ ]:
# a) Total trades - The total number of entries in the final dataframe
print('total no. of entries is',df.shape[0])

In [ ]:
# b) Unique days - The number of unique dates in the ‘Date’ column
print('total no. of unique date in the Date Column is ',df['Date'].nunique())

In [ ]:
# c) Average trades - Total trades / Unique Days

avg_trades = df.shape[0] / df['Date'].nunique()
avg_trades

In [ ]:
# d) Total Pnl - Sum of the Pnl column
print('Sum of the Pnl column is ',df['Pnl'].sum())

In [ ]:
# e)Profit Trades - Number of entries where Pnl > 0
df[df.Pnl>0]

In [ ]:
# f) Loss Trades - Number of entries where Pnl <= 0
df[df.Pnl<=0]

,Date,Key,ExitTime,Symbol,EntryPrice,ExitPrice,Quantity,Pnl,ExitType,SignalType
2,8/3/2020 10:16,8/3/2020 9:20,8/3/2020 10:16,BANKNIFTY06AUG2021200CE,441.15,472.15,-25,-775.00,SlHit,VolPattern
4,8/3/2020 10:49,8/3/2020 10:25,8/3/2020 10:49,NIFTY06AUG2011000PE,113.00,117.95,-75,-371.25,SlHit,VolPattern
5,8/3/2020 12:26,8/3/2020 10:52,8/3/2020 12:26,NIFTY06AUG2010950PE,88.70,92.80,-75,-307.50,SlHit,VolPattern

In [ ]:
# g) Save these values in a txt file named ‘combined_stats.txt’, with the respective names given above.
df.to_csv('combined_stats.txt')

3) Using the combined dataframe , now calculate the top n
winning/losing streaks. First, ensure the dataframe is sorted by the
‘ExitTime’ column.
A winning streak is defined as the number of consecutive trades in
which the Pnl > 0. Similarly, a losing streak is defined as the number
of consecutive trades in which the Pnl < 0. Calculate all such streaks,
and then sort by the total Pnl in each individual streak. The top
winning streak will be the one where the total Pnl of all trades in the
streak is the highest, whereas the top losing streak will be the one
where the total Pnl of all trades is the lowest.
The value of n should be input from the terminal, and then the top n
winning/losing streaks should be saved in a txt file named
combined_winning_losing.txt with the following format -
Top n winning streaks
1) No. of Trades Start Date - End Date Pnl of Streak
2) No. of Trades Start Date - End Date Pnl of Streak
Top n losing streaks
1) No. of Trades Start Date - End Date Pnl of Streak
2) No. of Trades Start Date - End Date Pnl of Streak

For question number 3 in the PDF, input for n is as follows -

n = 3, 4, 5, 6, 7

In [ ]:
df['ExitTime'].sort_values()

2    8/3/2020 10:16
4    8/3/2020 10:49
5    8/3/2020 12:26
0    8/3/2020 12:33
1    8/3/2020 12:33
3    8/3/2020 12:59
Name: ExitTime, dtype: object

In [ ]:
# A winning streak is defined as the number of consecutive trades in which the Pnl > 0
winning_streak = df[df['Pnl'].sort_values(ascending = False) > 0]
winning_streak

<ipython-input-34-33c676842c4b>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  winning_streak = df[df['Pnl'].sort_values(ascending = False) > 0]

,Date,Key,ExitTime,Symbol,EntryPrice,ExitPrice,Quantity,Pnl,ExitType,SignalType
0,8/3/2020 12:33,8/3/2020 9:27,8/3/2020 12:33,NIFTY06AUG2010950CE,119.20,88.90,-75,2272.5,Target hit,VolPattern
1,8/3/2020 12:33,8/3/2020 9:27,8/3/2020 12:33,NIFTY06AUG2010950CE,119.20,88.90,-75,2272.5,Target hit,VolPattern
3,8/3/2020 12:59,8/3/2020 10:40,8/3/2020 12:59,BANKNIFTY06AUG2021200CE,428.05,301.15,-25,3172.5,Target hit,VolPattern

In [ ]:
# A losing streak is defined as the number of consecutive trades in which the Pnl < 0
loosing_streak = df[df['Pnl'].sort_values() <= 0]
loosing_streak

<ipython-input-32-350b8cf4d188>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  loosing_streak = df[df['Pnl'].sort_values() <= 0]

,Date,Key,ExitTime,Symbol,EntryPrice,ExitPrice,Quantity,Pnl,ExitType,SignalType
2,8/3/2020 10:16,8/3/2020 9:20,8/3/2020 10:16,BANKNIFTY06AUG2021200CE,441.15,472.15,-25,-775.00,SlHit,VolPattern
4,8/3/2020 10:49,8/3/2020 10:25,8/3/2020 10:49,NIFTY06AUG2011000PE,113.00,117.95,-75,-371.25,SlHit,VolPattern
5,8/3/2020 12:26,8/3/2020 10:52,8/3/2020 12:26,NIFTY06AUG2010950PE,88.70,92.80,-75,-307.50,SlHit,VolPattern

In [ ]:
# The top winning streak will be the one where the total Pnl of all trades in the streak is the highest, n = 3
df['Pnl'].sort_values(ascending = False).head(3).sum()

In [ ]:
# the top losing streak will be the one where the total Pnl of all trades is the lowest, n = 3
df['Pnl'].sort_values(ascending = True).tail(3).sum()

In [ ]:
#saved in a txt file named combined_winning_losing.txt
df.to_csv('combined_winning_losing.txt')